@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;500;600;700;800;900&display=swap');
#scrollUp {
    @apply  fixed right-5 bottom-5 block w-10 h-10 leading-9 text-white text-2xl text-center rounded-md z-50 no-underline transition bg-bg-two 
}
.secondary-btn {
    @apply  inline-block border-0 shadow-none font-nsa text-[18px] font-bold capitalize bg-primary text-white rounded px-[25px] py-[16px] transition 
}
.primary-btn {
    @apply  inline-block border-0 shadow-none font-nsa text-[18px] font-bold capitalize bg-color-one text-white rounded px-[25px] py-[16px] transition 
}
.tabs-content div:not(:first-child) {
    @apply  hidden
}
.tabs-nav li.active a  {
    @apply  text-primary
}
.dark {
    @apply  bg-[#2D395A]
}

.small .text-\[16px\] {
    font-size: calc(16px - 2px);
}
  
.small  .text-\[14px\] {
    font-size: calc(14px - 2px);
}
  
.small .text-\[32px\] {
    font-size: calc(32px - 2px);
}
  
.small .text-\[50px\] {
    font-size: calc(50px - 2px);
}
  
.small .text-\[18px\] {
    font-size: calc(18px - 2px);
}
  
.small .text-\[20px\] {
    font-size: calc(20px - 2px);
}
  
.small .text-\[12px\] {
    font-size: calc(12px - 2px);
}
  
.small .text-\[35px\] {
    font-size: calc(35px - 2px);
}
  
.small .text-\[36px\] {
    font-size: calc(36px - 2px);
}
  
.small .text-\[24px\] {
    font-size: calc(24px - 2px);
}
  
.small .text-\[26px\] {
    font-size: calc(26px - 2px);
}



.big .text-\[16px\] {
    font-size: calc(16px + 3px);
}
  
.big  .text-\[14px\] {
    font-size: calc(14px + 3px);
}
  
.big .text-\[32px\] {
    font-size: calc(32px + 3px);
}
  
.big .text-\[50px\] {
    font-size: calc(50px + 3px);
}
  
.big .text-\[18px\] {
    font-size: calc(18px + 3px);
}
  
.big .text-\[20px\] {
    font-size: calc(20px + 3px);
}
  
.big .text-\[12px\] {
    font-size: calc(12px + 3px);
}
  
.big .text-\[35px\] {
    font-size: calc(35px + 3px);
}
  
.big .text-\[36px\] {
    font-size: calc(36px + 3px);
}
  
.big .text-\[24px\] {
    font-size: calc(24px + 3px);
}
  
.big .text-\[26px\] {
    font-size: calc(26px + 3px);
}

.big .text-\[16px\] {
    font-size: calc(16px + 3px);
}
  
.big  .text-\[14px\] {
    font-size: calc(14px + 3px);
}
  
.big .text-\[32px\] {
    font-size: calc(32px + 3px);
}
  
.big .text-\[50px\] {
    font-size: calc(50px + 3px);
}
  
.big .text-\[18px\] {
    font-size: calc(18px + 3px);
}
  
.big .text-\[20px\] {
    font-size: calc(20px + 3px);
}
  
.big .text-\[12px\] {
    font-size: calc(12px + 3px);
}
  
.big .text-\[35px\] {
    font-size: calc(35px + 3px);
}
  
.big .text-\[36px\] {
    font-size: calc(36px + 3px);
}
  
.big .text-\[24px\] {
    font-size: calc(24px + 3px);
}
  
.big .text-\[26px\] {
    font-size: calc(26px + 3px);
}

@media (min-width: 1280px) {
    .small .xl\:text-\[16px\] {
      font-size: calc(16px - 2px);
    }
  
    .small .xl\:text-\[20px\] {
      font-size: calc(20px - 2px);
    }
  
    .small .xl\:text-\[24px\] {
      font-size: calc(24px - 2px);
    }
  
    .small .xl\:text-\[50px\] {
      font-size: calc(50px - 2px);
    }
  
    .small .xl\:text-\[40px\] {
      font-size: calc(40px - 2px);
    }




    .big .xl\:text-\[16px\] {
        font-size: calc(16px + 3px);
    }
    
    .big .xl\:text-\[20px\] {
        font-size: calc(20px + 3px);
    }
    
    .big  .xl\:text-\[24px\] {
        font-size: calc(24px + 3px);
    }
    
    .big  .xl\:text-\[50px\] {
        font-size: calc(50px + 3px);
    }
    
    .big  .xl\:text-\[40px\] {
        font-size: calc(40px + 3px);
    }
}

@media (min-width: 640px) {

    .small .sm\:text-\[50px\] {
      font-size: calc(50px - 2px);
    }
  
    .small .sm\:text-\[18px\] {
      font-size: calc(18px - 2px);
    }
  
    .small .sm\:text-\[26px\] {
      font-size: calc(26px - 2px);
    }
  
    .small .sm\:text-\[16px\] {
      font-size: calc(16px - 2px);
    }

    .big .sm\:text-\[50px\] {
        font-size: calc(50px + 3px);
    }

    .big .sm\:text-\[18px\] {
        font-size: calc(18px + 3px);
    }

    .big .sm\:text-\[26px\] {
        font-size: calc(26px + 3px);
    }

    .big .sm\:text-\[16px\] {
        font-size: calc(16px + 3px);
    }

}